.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 3rem;
  }

.minimal-width-form {
    min-width: 350px; 
    width: 100%; 
    margin: 0 auto; 
}

.mat-form-field {
    border-radius: 26px;
}