<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <div class="logo-container">
          <!-- Your logo here -->
          <img src="assets/logo.png" alt="Logo">
        </div>
        <mat-list-item routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </mat-list-item>
        <mat-list-item routerLink="/users">
          <mat-icon>people</mat-icon>
          <span>Users</span>
        </mat-list-item>
        <mat-list-item routerLink="/calendar">
          <mat-icon>event</mat-icon>
          <span>Calendar</span>
        </mat-list-item>
        <mat-list-item routerLink="/projects">
          <mat-icon>folder</mat-icon>
          <span>Projects</span>
        </mat-list-item>
        <mat-list-item routerLink="/help">
          <mat-icon>help</mat-icon>
          <span>Help</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Main content of your application -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  